  <%= simple_form_for(@pin, html: { multipart: true}) do |form| %>

    <% if @pin.errors.any? %>

    	<h2 id="errors"> <%= pluralize(@pin.errors.count, "error") %>
    	prevented this pin from saving </h2>

    	<ul>
    	<%= @pin.errors.full_messages.each do |msg| %>

    		<li><%= msg %></li>
    	<% end %>
    	</ul>
    <% end %>

<div class="form-group">
    <%= form.input :image, input_html: {class: 'form-control'}%>
</div>

<div class="form-group">
    <%= form.input :title, input_html: {class: 'form-control'}%>
</div>

<div class="form-group">
    <%= form.input :description, input_html: {class: 'form-control'}%>
</div>

    <%= form.button :submit, class: "btn btn-primary"%> 

<% end %>